button {
    background: brown;
    width: 300px;
    height: 300px;
    border-radius: 4px;
    margin: 2px;
}

.content {
    display: grid;
    padding: 10px;
    margin: auto;
    justify-content: center;
    grid-template-columns: auto auto;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: "contain";
    margin-left: 10px;
}